
.primary-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}

@media (min-width: 1440px) {
    .primary-container {
        width: 1280px;
    }
}

@media (max-width: 1024px) {
    .primary-container {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}