
.social-item.fb {
    background-image: url('images/social_fb.svg');
}

.social-item.yt {
    background-image: url('images/social_yt.svg');
}

.social-item.insta {
    background-image: url('images/social_insta.svg');
}

.social-item.twtr {
    background-image: url('images/social_twtr.svg');
}

.social-item.in {
    background-image: url('images/social_in.svg');
}

.social-item.github {
    background-image: url('images/social_github.svg');
}

.social-item.fb-dark {
    background-image: url('images/social_fb_dark.svg');
}

.social-item.yt-dark {
    background-image: url('images/social_yt_dark.svg');
}

.social-item.insta-dark {
    background-image: url('images/social_insta_dark.svg');
}

.social-item.twtr-dark {
    background-image: url('images/social_twtr_dark.svg');
}

.social-item.in-dark {
    background-image: url('images/social_in_dark.svg');
}

.social-item.github-dark {
    background-image: url('images/social_github_dark.svg');
}