
.social-item.fb {
    background-image: url('images/social_fb.svg');
}

.social-item.yt {
    background-image: url('images/social_yt.svg');
}

.social-item.insta {
    background-image: url('images/social_insta.svg');
}

.social-item.twtr {
    background-image: url('images/social_twtr.svg');
}

.social-item.in {
    background-image: url('images/social_in.svg');
}

.social-item.github {
    background-image: url('images/social_github.svg');
}