$base-color: #777;
$text-color: rgb(65, 65, 65);

$heading-font: 'AvenirNext';

$primary-color: rgba(70, 80, 140, 1.0);
$secondary-color: rgba(53, 60, 107, 1.0);

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,600');

@import 'mixins';

@import 'header';
@import 'footer';
@import 'primary-container';

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background: transparent;
    outline: none;
    border: none;
}  

*::selection {
    background-color: rgb(44, 43, 58);
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.element {
    width: 100px;
    height: 100px;
    background: darkgray;

    p {
        color: $text-color;
    }
    
    h1 {
        font-size: 100px;
    }
}

.heading {
    font-family: $heading-font, sans-serif;
    @include customLink ('blue', 'pink', 'green', 'orange');
}