
// Fonts
$heading-font: 'AvenirNext';

// Colors
$background-color: rgb(255, 255, 255);
$primary-color: rgba(70, 80, 140, 1.0);
$secondary-color: rgba(53, 60, 107, 1.0);
$highlight-color: rgba(97, 110, 191, 1.0);

@import 'mixins';

@import 'reset';
@import 'header';
@import 'footer';
@import 'socials';
@import 'containers';
@import 'slideshow';
@import 'posts';

body {
    background-color: $background-color;
}
